.footermain{
    color: white;
    width: 100%;
    background-color: rgba(16, 81, 87, 1);
    padding: 20px 0;
}
.footer_upper{
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    align-items:center;
}

.footer_options{
    display: inline-grid;
    grid-template-columns: auto auto auto auto ;
}

.footer_options > div {
    margin: 10px;
    font-size: 16px;
    border-left: 2px solid white;
    padding-left: 15px;
    
}

.footlogo > .MuiSvgIcon-root{
    height: 1.6em !important;
    width: 1.6em !important;
}

.footbutton > .MuiButton-root{
    background-color: rgba(255, 154, 131, 1) !important;
    color: white !important;
    font-weight: 600;
    margin: 10px 0;
}

.footerlinks{
    display: flex;
    justify-content: space-around;
    place-items: center;
    width: 99%;
}

.footerlinks > div > .MuiSvgIcon-root {
    margin: 10px;
}

@media (max-width:770px){
    .footer_upper{
        flex-direction: column;
    }
    .footer_options > div {
        margin: 5px;
        font-size: 9px;
        border-left: 2px solid white;
        padding-left: 15px;
        
    }
}